@use "sass:color";
@font-face {
    font-family: moonstar;
    src: url("../assets/fonts/moon_star/Moonstar.ttf");
}
// main colors: 
// $color-green: #19a463;
// $color-purple: #5e1528;
$color-green: #90ee90;
$color-purple: #ee82ee;
$color-blue: #15417D;
$color-yellow: #d1ac00;
$color-black: black;
$color-black-transparent: rgba(0, 0, 0, 0.3);
$color-white: antiquewhite;

// variants colors :
$color-primary: $color-blue;
$color-secondary: $color-yellow;
$color-primary-light: color.scale($color-primary, $lightness: 30%);
$color-primary-dark: color.scale($color-primary, $lightness: -30%);
$color-secondary-light: color.scale($color-secondary, $lightness: 30%);
$color-secondary-dark: color.scale($color-secondary, $lightness: -30%);
$color-primary-light-transparent: color.scale($color-primary-light, $alpha: -60%);
$color-primary-transparent: color.scale($color-primary, $alpha: -60%);
$color-secondary-transparent: color.scale($color-secondary, $alpha: -60%);

// Slider :
$slider-height: 70vh;

// gap, padding et margin :
$gap-small: 10px;
$padding-small: 10px;
$padding-normal: 20px;
$margin-small: 1.5em;

// logos :
$logo-small: 50px;

// transitions :
$transition-short: .3s;
$transition-normal: .5s;
$transition-long: 1s;
$bezier-fast-slow: cubic-bezier(0.19, 1, 0.22, 1);

// Animations : 
$pulse: pulse 8s infinite;

// wordpress :
$admin-bar-none: 0px;
$admin-bar-short: 32px;
$admin-bar-long: 46px;

// breakpoints :
$breakpoints : (
    "tablet": 782px,
    "desktop": 900px
);