div.woocommerce
{
    // Liste des produits :
    ul.products
    {
        @include flex(space-evenly, $wrap: wrap);
        li.product
        {
            border: 1px solid $color-secondary-dark;
            background-color: $color-white;
            border-radius: 5px;
            float: none;
            @include flex(space-between, $direction: column);
            img
            {
                & + *
                {
                    margin-left: $margin-small;
                }
            }
        }
    }
    // Détail du produit :
    div.single-product
    {
        div.product
        {
            div.summary
            {
                p.price
                {
                    color: $color-secondary;
                }
            }
        }
    }
}