.default-content
{
    border: 2px solid $color-secondary;
    border-radius: 10px;
    background-color: $color-primary-light;
    padding: $padding-small;
    width: 90%;
    margin: auto;
    @include media("tablet")
    {
        width: 80%;
    }
    p
    {
        text-align: justify;
    }
}